<div class="card mt-4">
    <h1 *ngIf="user">{{'home.hi' | translate}} {{user.username}} !</h1> 

    <div class="card-body">
        <h4 class="card-header">{{'home.h1' | translate}}</h4>
        <p>{{'home.p1' | translate}}</p>  
        <h4 class="card-header">{{'home.h2' | translate}}</h4>
        <p>{{'home.p2' | translate}}</p>  
        <p>{{'home.p3' | translate}}</p>  
        <p>{{'home.p4' | translate}}</p>  
        <p>{{'home.p5' | translate}}</p>  
        <p>{{'home.p6' | translate}}</p>  
        <p>{{'home.p7' | translate}}</p>  
        <h4 class="card-header">{{'home.h3' | translate}}</h4>
        <p>{{'home.p8' | translate}}</p>  
        <p>{{'home.p9' | translate}}</p>      
    </div>
</div>