<div class="card mt-4">
    <h1 *ngIf="user">{{'home.hi' | translate}} {{user.username}} !</h1> 

    <div class="card-body">
        <h6 class="card-header" style="text-align: center">{{'home.h1' | translate}}</h6>
        <h6 class="card-header" style="text-align: center">{{'home.h2' | translate}}</h6>
        <h2 class="card-header" style="text-align: center">{{'home.h3' | translate}}</h2>
        <h5 class="card-header" style="text-align: center">{{'home.h4' | translate}}</h5>
        <br> <br>
        <li>{{'home.p1' | translate}}</li> 
        <p></p>
        <ul>{{'home.p1.1' | translate}}</ul> 
        <ul>{{'home.p1.2' | translate}}</ul> 
        <ul>{{'home.p1.3' | translate}}</ul> 
        <li>{{'home.p2' | translate}}</li>  
        <p></p>
        <li>{{'home.p3' | translate}}</li>  
        <p></p>
        <li>{{'home.p4' | translate}}</li>
        <p></p>
        <ul>{{'home.p4.1' | translate}}</ul>
        <ul>{{'home.p4.2' | translate}}</ul>
        <ul>{{'home.p4.3' | translate}}</ul>  
        <li>{{'home.p5' | translate}}</li>  
        <p></p>
        <li>{{'home.p6' | translate}}</li>  
        <p></p>
        <li>{{'home.p7' | translate}}</li>  
        <p></p>
        <li>{{'home.p8' | translate}}</li>  
        <p></p>
        <li>{{'home.p9' | translate}}</li> 
        <p></p> 
        <li>{{'home.p10' | translate}}</li> 
        <ul>{{'home.p11' | translate}}</ul> 
        <li>{{'home.p12' | translate}}</li> 
        <ul>{{'home.p14' | translate}}</ul>     
    </div>
</div>