<div class="col-md-9 offset-md-1 mt-5">
  <h1>{{'files.filter' | translate}}</h1>
    <a routerLink="/workspace/search" class="btn btn-sm btn-success mb-2">{{ 'files.looking' | translate }}</a>
  
    <table class="table table-striped">
      <thead>
        <caption>{{'files.fvs' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesFVS">
          <td>{{fil.positive}}</td>
          <td>{{fil.negative}}</td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-striped">
      <thead>
        <caption>{{'files.fds' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesFDS">
          <td>{{fil.positive}}</td>
          <td>{{fil.negative}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
        <caption>{{'files.tis' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesTIS">
          <td>{{fil.positive}}</td>
          <td>{{fil.negative}}</td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" 
              (click)="select(fil.positive, fil.negative)"  >
              <span class="glyphicon glyphicon-upload"></span> {{ 'files.select' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- termNumber -->
    <div class="form-group">
      <div class="md-form">
        <label for="numberInputEx">Input of terms number</label>
        <input type="number" class="form-control" id="numberInputEx" (change)="termNumber($event)" mdbInput>
      </div>
    </div>

    <!-- Filtros -->
    <div class="form-group">
      <select class="custom-select" (change)="changefilter($event)" required>
        <option value="">Seleccione un filtro</option>
        <option value="InfGain">InfGain-Ganancia infinita</option>
        <option value="CrossEntropy">CrossEntropy-Entropía Cruzada</option>
        <option value="MutualInfo">MutualInfo-Información Mutua</option>
        <option value="Freq">Freq-Filtro basado en frecuencias</option>
        <option value="OddsRatio">OddsRatio-Razón de probabilidades</option>
        <option value="NormalSeparation">Bi−NormalSeparation-Bi Separación Normal</option>
        <option value="FisherIndex">FisherIndex-Índice de Fisher</option>
      </select>
      <div class="invalid-feedback">Invalid custom select feedback</div>
    </div>
    <div class="form-group" >
      <button class="btn btn-primary" (click)="onSubmit()" >
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        aplicar para ver Query
      </button>
    </div>
    Query: 
    <a *ngFor="let word of query">{{word}} &nbsp;</a>

    <div class="form-group" >
      <button class="btn btn-primary" (click)="applyFilter()" >
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        aplicar en FVS 
      </button>
    </div>

    <!-- medidas de rendimiento
    <h4>Medidas de rendimiento</h4>
    <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary">Filter</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">especificidad</a>
                <a class="dropdown-item" href="#">Another Rendimiento</a>
            </div>
        </div>
    </div> -->

  </div>