<div class="col-md-9 offset-md-1 mt-5">
  <h1>{{'files.filter' | translate}}</h1>
    <a routerLink="/workspace/search" class="btn btn-sm btn-success mb-2 mr-1">{{ 'files.looking' | translate }}</a>
    <a routerLink="/workspace" class="btn btn-sm btn-success mb-2 mr-1">{{ 'nav.workspace' | translate }}</a>

    <!-- Tabla de archivos FVS -->
    <table class="table table-striped">
      <thead>
        <caption>{{'files.fvs' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesFVS">
          <td>{{fil.positive}}</td>
          <td>{{fil.negative}}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Tabla de archivos FDS -->
    <table class="table table-striped">
      <thead>
        <caption>{{'files.fds' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesFDS">
          <td>{{fil.positive}}</td>
          <td>{{fil.negative}}</td>
        </tr>
      </tbody>
    </table>

    <!-- Tabla de archivos TIS -->
    <table class="table table-striped">
      <thead>
        <caption>{{'files.tis' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesTIS">
          <td><span *ngIf="lookingfiles.positive == fil.positive" class="text-success"><strong>{{fil.positive}}</strong></span><span *ngIf="lookingfiles.positive != fil.positive" >{{fil.positive}}</span></td>
          <td><span *ngIf="lookingfiles.negative == fil.negative" class="text-success"><strong>{{fil.negative}}</strong></span><span *ngIf="lookingfiles.negative != fil.negative">{{fil.negative}}</span></td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" (click)="select(fil.positive, fil.negative)"  >
              <span class="glyphicon glyphicon-ok"></span> {{ 'files.select' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- termNumber números positivos a partir de 1-->
    <div class="form-group">
      <div class="md-form">
        <label for="numberInputEx">{{'filter.termNumber' | translate}}</label>
        <input type="number" min="1" oninput="validity.valid||(value='');" class="form-control" id="numberInputEx" (change)="termNumber($event)" mdbInput>
      </div>
    </div>

    <!-- Filtros -->
    <div class="form-group">
      <select class="custom-select" (change)="changefilter($event)" required>
        <option value="">{{'filter.select' | translate}}</option>
        <option value="InfGain">{{'filter.infGain' | translate}}</option>
        <option value="CrossEntropy">{{'filter.crossEntropy' | translate}}</option>
        <option value="MutualInfo">{{'filter.mutualInfo' | translate}}</option>
        <option value="Freq">{{'filter.freq' | translate}}</option>
        <option value="OddsRatio">{{'filter.oddsRatio' | translate}}</option>
        <option value="NormalSeparation">{{'filter.normalSeparation' | translate}}</option>
        <option value="Diferencia">{{'filter.difference' | translate}}</option>
      </select>
      <div class="invalid-feedback">{{'filter.invalid' | translate}}</div>
    </div>

    <!-- Query -->
    <div class="form-group" >
      <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!loadfile || !loadnum || !loadfilter">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        {{'filter.query' | translate}}
      </button>
      <span *ngIf="!loadfile && !loading" class="alert alert-primary mr-1" role="alert">
        {{'filter.loadfile' | translate}}</span>
      <span *ngIf="!loadnum && !loading" class="alert alert-primary mr-1" role="alert">
        {{'filter.loadnum' | translate}}</span>
      <span *ngIf="!loadfilter && !loading" class="alert alert-primary mr-1" role="alert">
        {{'filter.loadfilter' | translate}}</span>
    </div>
    Query: 
    <a *ngFor="let word of query">{{word}} &nbsp;</a><br />

    <!-- AND_OPERATOR -->
    <a>{{'filter.and' | translate}}</a><br />
    <div class="form-group" >
        <button class="btn btn-primary btn-sm" (click)="andOperator()" [disabled]="!loadand" >
          <span *ngIf="loading"  class="spinner-border spinner-border-xs"></span>
          AND 
        </button>
    </div>

    <!-- aplicar en FVS  -->
    <div class="form-group" >
      <button class="btn btn-primary" (click)="applyFilterFVS()" [disabled]="!loadapply">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        {{'filter.applyFVS' | translate}}
      </button>
    </div>

    <!-- medidas de rendimiento -->
    <table *ngIf="loadmetric" class="table table-striped">
      <a *ngFor="let metric of metricsFVS">
        <h4>{{metric[0].tittle}}</h4>
        <thead>
          <tr>
            <th style="width: 30%">{{'filter.rendimiento' | translate}}</th>
            <th style="width: 30%">{{'filter.valor' | translate}}</th>
          </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let data of metric">
            <td>{{data.description}}</td>
            <td>{{data.value}}</td>
          </tr>
        </tbody>
      </a>
    </table>

    <!-- aplicar en FDS  -->
    <div class="form-group" >
      <button class="btn btn-primary" (click)="applyFilterFDS()" [disabled]="!loadapply">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        {{'filter.applyFDS' | translate}}
      </button>
    </div>

    <!-- medidas de rendimiento -->
    <table *ngIf="loadmetric" class="table table-striped">
      <a *ngFor="let metric of metricsFDS">
        <h4>{{metric[0].tittle}}</h4>
        <thead>
          <tr>
            <th style="width: 30%">{{'filter.rendimiento' | translate}}</th>
            <th style="width: 30%">{{'filter.valor' | translate}}</th>
          </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let data of metric">
            <td>{{data.description}}</td>
            <td>{{data.value}}</td>
          </tr>
        </tbody>
      </a>
    </table>
  </div>