<div class="col-md-9 offset-md-1 mt-5">
  <h1>{{'files.filter' | translate}}</h1>
    <a routerLink="/workspace/search" class="btn btn-sm btn-success mb-2">{{ 'files.looking' | translate }}</a>
  
    <table class="table table-striped">
      <thead>
        <caption>{{'files.fvs' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesFVS">
          <td>{{fil.positive}}</td>
          <td>{{fil.negative}}</td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-striped">
      <thead>
        <caption>{{'files.fds' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesFDS">
          <td>{{fil.positive}}</td>
          <td>{{fil.negative}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
        <caption>{{'files.tis' | translate}}</caption>
          <tr>
            <th width="50%">{{ 'files.positive' | translate }}</th>
            <th width="50%">{{ 'files.negative' | translate }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fil of files?.filesTIS">
          <td>{{fil.positive}}</td>
          <td>{{fil.negative}}</td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" 
              (click)="select(fil.positive, fil.negative)"  >
              <span class="glyphicon glyphicon-upload"></span> {{ 'files.select' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Filtros -->
    <div class="form-group">
      <select class="custom-select" required>
        <option value="">Seleccione un filtro</option>
        <option value="1">Filtro basado en frecuencias</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div class="invalid-feedback">Invalid custom select feedback</div>
    </div>

    <!-- medidas de rendimiento
    <h4>Medidas de rendimiento</h4>
    <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary">Filter</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">especificidad</a>
                <a class="dropdown-item" href="#">Another Rendimiento</a>
            </div>
        </div>
    </div> -->

  </div>