<div class="col-md-9 offset-md-1 mt-5">
  <a routerLink="filter" class="btn btn-sm btn-success mb-2">{{ 'files.filter' | translate }}</a>
  <a routerLink="search" class="btn btn-sm btn-success mb-2">{{ 'files.search' | translate }}</a>
  <!-- espacio de archivos por ahora selecciona-->
  <h4>Selección de archivos</h4>
    <div>
      <form [formGroup]="myForm">
        <div class="form-group">
          <caption>{{'files.fvs' | translate}}</caption>
            <input formControlName="file" id="file" type="file" multiple
                class="form-control" (change)="onFileChange($event,'filesFVS')">
        </div>
      </form>
    </div>
 
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filesFVS">
          <td><strong>{{ item.name }}</strong></td>
          <td nowrap>{{ item.size/1024/1024 | number:'.2' }} MB</td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" 
              (click)="upload(item)"  [disabled]="item.invalid" >
              <span class="glyphicon glyphicon-upload"></span> {{'files.upload' | translate}}
            </button>
            <button type="button" class="btn btn-danger btn-xs"
              (click)="remove(item,'filesFVS')" [disabled]="!item.invalid">
              <span class="glyphicon glyphicon-trash"></span> {{'files.remove' | translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <form [formGroup]="myForm">
        <div class="form-group">
          <caption>{{'files.fds' | translate}}</caption>
            <input formControlName="file" id="file" type="file" 
                class="form-control" (change)="onFileChange($event, 'filesFDS')">
        </div>
      </form>
    </div>
 
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filesFDS">
          <td><strong>{{ item.name }}</strong></td>
          <td nowrap>{{ item.size/1024/1024 | number:'.2' }} MB</td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" 
              (click)="upload(item)" [disabled]="item.invalid" >
              <span class="glyphicon glyphicon-upload"></span> {{'files.upload' | translate}}
            </button>
            <button type="button" class="btn btn-danger btn-xs"
              (click)="remove(item, 'filesFDS')" [disabled]="!item.invalid">
              <span class="glyphicon glyphicon-trash"></span> {{'files.remove' | translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <form [formGroup]="myForm">
        <div class="form-group">
          <caption>{{'files.tis' | translate}}</caption>
            <input formControlName="file" id="file" type="file" 
                class="form-control" (change)="onFileChange($event, 'filesTIS')">
        </div>
      </form>
    </div>
 
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filesTIS">
          <td><strong>{{ item.name }}</strong></td>
          <td nowrap>{{ item.size/1024/1024 | number:'.2' }} MB</td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" 
              (click)="upload(item)" [disabled]="item.invalid" >
              <span class="glyphicon glyphicon-upload"></span> {{'files.upload' | translate}}
            </button>
            <button type="button" class="btn btn-danger btn-xs"
              (click)="remove(item, 'filesTIS')" [disabled]="!item.invalid">
              <span class="glyphicon glyphicon-trash"></span> {{'files.remove' | translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>

</div>
